@import "reset.css";
@import "variables.css"; /*만약 이 줄을 다른 import보다 아래 놓으면 components 등에 적용이 안된다*/

/*components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";

/*screens*/
@import "screens/login.css";
@import "screens/friends.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen;
  height: 1000vh;
  color: #2e363e; /*전체에 적용*/
}
