.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(243, 243, 243);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(162, 162, 162, 0.3);
}

.nav___list {
  display: flex;
  justify-content: space-between;
}
.nav___link {
  color: #2e363e;
  position: relative;
}
.nav___notification {
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.nav___circle {
  background-color: red;
  width: 5px;
  height: 5px;
  border-radius: 15px;
  display: flex;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
