.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
}
.screen-header___title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header___icons span {
  margin-left: 25px;
}
